@import '../style/default.less';

.docfree-blog {
  width: 800px;
  margin: @docfree-edge-size-large auto;
  .ant-pagination {
    text-align: center;
    margin: @docfree-edge-size-large 0;
  }
}

.docfree-blog-list {
  & > dl {
    border-top: 1px solid @docfree-layout-border-color;
    &:first-child {
      border-top: none;
      & > dt {
        margin-top: 0;
      }
    }
    & > dt {
      margin: 10px 0 8px;
      font-size: @font-size-base + 10;
      color: @heading-color;
    }
    & > dd {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      & > span {
        margin-right: 16px;
        color: @text-color-secondary;
        font-size: @font-size-base + 2;
      }
      & > a {
        font-size: @font-size-base + 4;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  // list-style: none;
  // font-size: @font-size-base + 2;
  // & > li {
  //   margin-bottom: 8px;
  //   & > span {
  //     color: #333;
  //     margin-right: 16px;
  //   }
  //   & > a {
  //     &:hover {
  //       text-decoration: underline;
  //     }
  //   }
  // }
}
