@import '~antd/lib/style/themes/default.less';

@link-color: rgba(0, 0, 0, 0.65);
@link-hover-color: #1890ff;
@border-color-base: #ebedf1;
@block-background-color: #f2f4f5;

@header-height: 60px;

@edge-size-small: 16px;
@edge-size-middle: @edge-size-small + 8;
@edge-size-large: @edge-size-middle + 8;

@header-size-base: @font-size-base + 2;
