@import '../style/default.less';

.docfree-props {
  width: 100%;
  margin: @docfree-edge-size-large 0 @docfree-edge-size-small;
  th,
  td {
    padding: 6px;
    border: 1px solid @docfree-layout-border-color;
  }
  th {
    background: rgba(0, 0, 0, 0.03);
  }
  tbody tr:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}
