.docfree-playground {
  margin: 16px 0;
  border: 1px solid #ebedf1;
}
.docfree-playground > :first-child {
  padding: 32px;
}
.docfree-playground > a {
  display: block;
  border-top: 1px dashed #ebedf1;
  padding: 8px 0;
  text-align: center;
}
.docfree-playground > a > :first-child {
  margin-right: 4px;
}
.docfree-playground > .ant-card {
  border: none;
  border-top: 1px dashed #ebedf1;
}
.docfree-playground > .ant-card > .ant-card-head {
  min-height: 40px;
  height: 40px;
  border-bottom-color: #ebedf1;
}
.docfree-playground > .ant-card > .ant-card-head > .ant-card-head-wrapper {
  height: 100%;
}
.docfree-playground > .ant-card > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
  padding: 0;
}
.docfree-playground > .ant-card > .ant-card-body {
  padding: 8px;
}
.docfree-blog {
  max-width: 800px;
  margin: 32px auto;
  padding: 0 40px;
}
.docfree-blog .ant-pagination {
  text-align: center;
  margin: 32px 0;
}
.docfree-blog-list > dl {
  border-top: 1px solid #ebedf1;
}
.docfree-blog-list > dl:first-child {
  border-top: none;
}
.docfree-blog-list > dl:first-child > dt {
  margin-top: 0;
}
.docfree-blog-list > dl > dt {
  margin: 10px 0 8px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
}
.docfree-blog-list > dl > dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.docfree-blog-list > dl > dd > span {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}
.docfree-blog-list > dl > dd > a {
  font-size: 18px;
}
.docfree-blog-list > dl > dd > a:hover {
  text-decoration: underline;
}
.docfree-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 40px 16px;
}
.docfree-content pre {
  margin: 0;
}
.docfree-content > ol,
.docfree-content > ol ol,
.docfree-content > ol ul,
.docfree-content > ul,
.docfree-content > ul ol,
.docfree-content > ul ul {
  padding-left: 16px;
}
.docfree-content > table {
  width: 100%;
  margin: 32px 0 16px;
}
.docfree-content > table td,
.docfree-content > table th {
  padding: 6px;
  border: 1px solid #ebedf1;
}
.docfree-content > table tbody tr:hover,
.docfree-content > table th {
  background: rgba(0, 0, 0, 0.03);
}
.docfree-content code.hljs {
  padding: 16px;
}
.docfree-content code:not(.hljs) {
  background: #f2f4f5;
  padding: 3px;
  margin: 0 3px;
  border-radius: 3px;
}
.docfree-content a {
  color: #1890ff;
}
.docfree-content > :first-child {
  margin-top: 0;
}
.docfree-content blockquote {
  border-left: 6px solid #1890ff;
  padding: 16px;
  background: #f2f4f5;
  word-break: break-all;
}
.docfree-content blockquote > p {
  margin: 0;
}
.docfree-content img {
  max-width: 100%;
}
.docfree-content > h1,
.docfree-content > h2,
.docfree-content > h3,
.docfree-content > h4,
.docfree-content > h5,
.docfree-content > h6 {
  margin: -38px 0 16px;
  word-break: break-all;
}
.docfree-content > h1 > a[id],
.docfree-content > h2 > a[id],
.docfree-content > h3 > a[id],
.docfree-content > h4 > a[id],
.docfree-content > h5 > a[id],
.docfree-content > h6 > a[id] {
  display: inline-block;
  margin-right: 8px;
  padding-top: 60px;
}
.docfree-content > h1 > span,
.docfree-content > h2 > span,
.docfree-content > h3 > span,
.docfree-content > h4 > span,
.docfree-content > h5 > span,
.docfree-content > h6 > span {
  display: inline-block;
}
.docfree-content > h1:first-child,
.docfree-content > h2:first-child,
.docfree-content > h3:first-child,
.docfree-content > h4:first-child,
.docfree-content > h5:first-child,
.docfree-content > h6:first-child {
  margin-top: -60px;
}
.docfree-content > h1 {
  font-size: 28px;
}
.docfree-content > h2 {
  font-size: 24px;
}
.docfree-content > h3 {
  font-size: 22px;
}
.docfree-content > h4 {
  font-size: 20px;
}
.docfree-content > h5 {
  font-size: 18px;
}
.docfree-content > h6 {
  font-size: 16px;
}
.docfree-content > blockquote,
.docfree-content > ol,
.docfree-content > p,
.docfree-content > pre,
.docfree-content > section,
.docfree-content > ul {
  margin: 16px 0;
}
.docfree-content-extra {
  margin: 32px 0 16px;
}
.docfree-next-prev {
  border-top: 1px solid #ebedf1;
  padding-top: 16px;
}
.docfree-menus {
  margin: 0;
  padding: 0;
}
.docfree-menus li > :first-child {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.docfree-menus li > a.active,
.docfree-menus li > a.current {
  color: #1890ff;
}
.docfree-menus ul {
  margin: 0;
  padding: 0;
}
.docfree-header {
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 32px;
  z-index: 11;
  background: #fff;
  box-shadow: 0 8px 24px -2px rgba(0, 0, 0, 0.05);
}
.docfree-header > div {
  display: flex;
  align-items: center;
}
.docfree-header-left-col {
  display: none !important;
}
.docfree-header-right-col > .docfree-drawer-icon {
  display: none;
}
.docfree-header-right-col > div {
  display: flex;
  align-items: center;
}
.docfree-nav {
  font-size: 15px;
}
.docfree-nav,
.docfree-nav ul {
  list-style: none;
}
.docfree-nav > li {
  float: left;
  margin-left: 16px;
  position: relative;
}
.docfree-nav > li > :first-child {
  height: 60px;
  line-height: 60px;
  padding: 0 4px;
  max-width: 120px;
  font-weight: 400;
}
.docfree-nav > li > :first-child.active {
  color: #1890ff;
  border-bottom: 3px solid #1890ff;
}
.docfree-nav > li > :first-child:after {
  position: absolute;
  top: 50%;
  right: -7px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 1px;
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.65);
}
.docfree-nav > li > a:only-child:after,
.docfree-nav > li > b:only-child:after {
  display: none;
}
.docfree-nav > li > ul {
  display: none;
  position: absolute;
  top: 60px;
  right: -10px;
  overflow: auto;
  background: #fff;
  padding: 10px;
  max-width: 300px;
  max-height: calc(100vh - 60px);
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
}
.docfree-nav > li > ul li {
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.docfree-nav > li > ul li > b {
  color: rgba(0, 0, 0, 0.85);
}
.docfree-nav > li > ul > li:not(:last-child) > ul {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #f0f0f0;
}
.docfree-nav > li:hover > ul {
  display: block;
}
.docfree-search .ant-input-affix-wrapper {
  border-radius: 100px;
}
.docfree-logo {
  display: block;
  height: 44px;
  line-height: 42px;
  font-size: 24px;
}
.docfree-logo,
.docfree-logo:hover {
  color: rgba(0, 0, 0, 0.85);
}
.docfree-popover .ant-popover-title {
  padding-left: 12px;
  padding-right: 12px;
}
.docfree-popover .ant-popover-inner-content {
  padding: 0;
}
.docfree-popover .ant-popover-inner-content .ant-list-item {
  padding: 6px 12px;
  cursor: pointer;
}
.docfree-popover .ant-popover-inner-content .ant-list-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.docfree-popover .ant-popover-inner-content .ant-list-item b {
  font-weight: 400;
  color: #1890ff;
}
.docfree-drawer-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}
.docfree-drawer-icon {
  font-size: 24px;
  cursor: pointer;
}
@-webkit-keyframes showRight {
  0% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes showRight {
  0% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes hideRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}
@keyframes hideRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}
@-webkit-keyframes showLeft {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes showLeft {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes hideLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}
@keyframes hideLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}
.docfree-animate-show-right {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: showRight;
  animation-name: showRight;
}
.docfree-animate-hide-right {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hideRight;
  animation-name: hideRight;
}
.docfree-animate-show-left {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: showLeft;
  animation-name: showLeft;
}
.docfree-animate-hide-left {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: hideLeft;
  animation-name: hideLeft;
}
.docfree-page-sidebar,
.docfree-sidebar {
  position: fixed;
  top: 60px;
  padding: 32px;
  bottom: 0;
  overflow: auto;
  background: #fff;
}
.docfree-page-sidebar ~ section > div,
.docfree-sidebar ~ section > div {
  max-width: none;
}
.docfree-sidebar {
  left: 0;
  width: 300px;
  border-right: 1px solid #ebedf1;
}
.docfree-sidebar ~ section {
  margin-left: 300px;
}
.docfree-sidebar > .docfree-drawer-icon {
  display: none;
}
.docfree-sidebar > div > strong {
  display: block;
  margin-bottom: 16px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.85);
}
.docfree-sidebar > div ul {
  list-style: none;
}
.docfree-sidebar > div > ul {
  font-size: 16px;
}
.docfree-sidebar > div > ul li {
  margin-bottom: 6px;
}
.docfree-sidebar > div > ul ul {
  margin-top: 6px;
}
.docfree-sidebar > div > ul > li > b {
  border-bottom: 1px solid #ebedf1;
  padding-bottom: 6px;
  color: rgba(0, 0, 0, 0.85);
}
.docfree-sidebar > div > ul > li li > b {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
}
.docfree-page-sidebar {
  right: 0;
  width: 240px;
  padding-left: 0;
  background: #fff;
}
.docfree-page-sidebar ~ section {
  margin-right: 240px;
}
.docfree-page-sidebar > ul li > a {
  border-left: 2px solid #ebedf1;
}
.docfree-page-sidebar > ul li > a.current {
  border-left-color: #1890ff;
}
.docfree-footer {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid #ebedf1;
}
.docfree-layout {
  padding-top: 60px;
}
.docfree-layout > .ant-back-top {
  right: 16px;
  bottom: 16px;
}
a {
  color: rgba(0, 0, 0, 0.65);
}
a:hover {
  color: #1890ff;
}
@media screen and (max-width: 800px) {
  .docfree-header-left-col {
    display: flex !important;
  }
  .docfree-header-left-col > .docfree-drawer-icon,
  .docfree-header-right-col > .docfree-drawer-icon {
    display: inline-block;
  }
  .docfree-header-right-col > div {
    display: none;
    padding: 16px;
    width: 240px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border-left: 1px solid #ebedf1;
    overflow: auto;
  }
  .docfree-header-right-col > div > .docfree-nav {
    padding-left: 12px;
    margin-top: 16px;
  }
  .docfree-header-right-col > div > .docfree-nav li > :first-child {
    margin-bottom: 6px;
  }
  .docfree-header-right-col > div > .docfree-nav > li {
    float: none;
    margin-left: 0;
    line-height: normal;
  }
  .docfree-header-right-col > div > .docfree-nav > li > :first-child {
    height: auto;
    line-height: normal;
    padding: 0;
    max-width: none;
  }
  .docfree-header-right-col > div > .docfree-nav > li > :first-child.active {
    border: none;
  }
  .docfree-header-right-col > div > .docfree-nav > li > :first-child:after {
    display: none;
  }
  .docfree-header-right-col > div > .docfree-nav > li > ul {
    display: block;
    position: static;
    max-width: none;
    max-height: none;
    box-shadow: none;
    padding: 0;
  }
  .docfree-header-right-col > div > .docfree-nav > li > ul li {
    padding: 0 0 0 12px;
  }
  .docfree-header-right-col > div > .docfree-nav > li > ul > li:not(:last-child) > ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .docfree-sidebar {
    width: auto;
    overflow: visible;
    padding: 0;
    border-right: none;
    top: 0;
    bottom: 0;
    z-index: 12;
    background: none;
  }
  .docfree-sidebar > .docfree-drawer-icon {
    display: inline-block;
    position: fixed;
    top: 13px;
    left: 32px;
  }
  .docfree-sidebar > div {
    position: relative;
    height: 100%;
    display: none;
    z-index: 1;
    width: 300px;
    overflow: auto;
    padding: 32px;
    border-right: 1px solid #ebedf1;
    background: #fff;
  }
  .docfree-page-sidebar {
    display: none;
  }
  .docfree-page-sidebar ~ section,
  .docfree-sidebar ~ section {
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  .docfree-sidebar + .docfree-page-sidebar {
    display: none;
  }
  .docfree-sidebar ~ section {
    margin-right: 0;
  }
}
.docfree-props {
  width: 100%;
  margin: 32px 0 16px;
}
.docfree-props td,
.docfree-props th {
  padding: 6px;
  border: 1px solid #ebedf1;
}
.docfree-props tbody tr:hover,
.docfree-props th {
  background: rgba(0, 0, 0, 0.03);
}
.docfree-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
}
.docfree-home {
  text-align: center;
}
.docfree-home > div > dl > dt,
.docfree-home > h1,
.docfree-home > h2 {
  margin: 32px 0 16px;
}
.docfree-home > h1 {
  margin-top: 8px;
  font-size: 44px;
}
.docfree-home > h2 {
  font-size: 32px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.45);
}
.docfree-home > p {
  margin-top: 32px;
  margin-bottom: 16px;
}
.docfree-home > p > button {
  margin: 0 8px;
}
.docfree-home > div {
  margin-top: 32px;
  border-top: 1px solid #ebedf1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.docfree-home > div > dl {
  text-align: left;
  flex-grow: 1;
  flex-basis: 30%;
  max-width: 30%;
  margin: 0;
}
.docfree-home > div > dl > dt {
  font-weight: 400;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
}
.docfree-home > div > dl > dd {
  margin: 0;
  font-size: 16px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #444;
  background: #f8f8f8;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-attr,
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #008dff;
}
.hljs-literal,
.hljs-number,
.hljs-string,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #0b8235;
}
.hljs-doctag {
  color: #008dff;
}
.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #900;
  font-weight: 700;
}
.hljs-subst {
  font-weight: 400;
}
.hljs-class .hljs-title,
.hljs-type {
  color: #458;
  font-weight: 700;
}
.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: #f81d22;
  font-weight: 400;
}
.hljs-link,
.hljs-regexp {
  color: #009926;
}
.hljs-bullet,
.hljs-symbol {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: 700;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
._3loKrc2xiTgno7_H5v9kP_ > button,
.buttons > button,
.Y95AwFsXPcUhEpKPlOx9H > button {
  margin-right: 8px;
}
._3zBxAV7fneT3FmWKcsF0DR > p {
  color: #1890ff;
}
