@import '../default.less';
@import (reference) '../Props/style.less';

.docfree-content {
  position: relative;
  margin: 0 240px;
  padding-top: @edge-size-large;
  padding-bottom: @edge-size-small;
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin: @edge-size-large 0 @edge-size-small;
    word-break: break-all;
  }
  & > h1 {
    font-size: @header-size-base + 10;
  }
  & > h2 {
    font-size: @header-size-base + 8;
  }
  & > h3 {
    font-size: @header-size-base + 6;
  }
  & > h4 {
    font-size: @header-size-base + 4;
  }
  & > h5 {
    font-size: @header-size-base + 2;
  }
  & > h6 {
    font-size: @header-size-base;
  }
  & > p {
    margin: @edge-size-small 0;
  }
  & > table {
    .docfree-props;
  }
  code:not(.hljs) {
    background: #f2f4f5;
    padding: 3px;
    margin: 0 3px;
    border-radius: 3px;
  }
  a {
    color: @primary-color;
  }
  & > :first-child {
    margin-top: 0;
  }
  pre {
    margin: 0;
  }
}

.docfree-content-tools {
  position: absolute;
  right: 0;
  top: @edge-size-large;
}

.docfree-content-extra {
  margin: @edge-size-small 0;
}

.docfree-next-prev {
  border-top: 1px solid @border-color-base;
  padding-top: @edge-size-small;
}
