@import '~@antd/lib/style/themes/default.less';

@docfree-layout-border-color: #ebedf1;
@docfree-block-background: #f2f4f5;
@docfree-header-height: 54px;
@docfree-edge-size-small: 16px;
@docfree-edge-size-middle: @docfree-edge-size-small + 6;
@docfree-edge-size-large: @docfree-edge-size-middle + 6;
@docfree-sidebar-width: 240px;
